<section class="what-i-do-section" >
  <div class="container">
    <h2 class="title">About Me</h2>
    <p class="subtitle">FULL STACK DEVELOPER WHO CODES WITH COSMIC CLARITY</p>
    <p class="text">
      Final-year B.Tech student focused on full stack development, with hands-on experience in Angular, Spring Boot, PostgreSQL, and MongoDB.
       I specialize in building scalable backend systems and integrating system design principles into real-world projects. Known for clear communication, a collaborative spirit, and a drive to learn continuously.
       My mission is to create purposeful technology that lasts — solutions that serve both users and the future.
    </p>
<h2 class="title">What i do</h2>
    <div class="tech-stack">
      <img src="/git.svg" alt="Angular">
      <img src="/spring-boot.svg" alt="Spring Boot">
      <img src="/sql.svg" alt="MySQL">
      <img src="/Angular.svg" alt="Angular">
      <img src="/java .svg" alt="Java">
      <img src="/docker.svg" alt="Docker">
      <img src="/html.svg" alt="html">
      <img src="/css.svg" alt="css">
      <img src="/ts.svg" alt="ts">
    </div>

    <div class="highlights">
      <p>⭐ Build dynamic & scalable full-stack apps using Angular + Spring Boot</p>
      <p>⭐ RESTful APIs and backend logic with Spring & Hibernate</p>
      <p>⭐ Test and debug with Postman and CI/CD using GitHub</p>
      <p>⭐ Use MySQL & PostgreSQL for structured data</p>
      <p>⭐ Deploy apps via Railway / Render / EC2</p>
    </div>
  </div>
</section>
<section class="proficiency-section" id="proficiency">
  <h2>Proficiency</h2>

  <div class="skill">
    <p>Frontend / Design (Angular/Type Script/Html5/CSS3)</p>
    <div class="bar">
      <div class="fill" style="width: 90%"></div>
    </div>
  </div>

  <div class="skill">
    <p>Backend (Java/spring boot/Mongodb Atlas)</p>
    <div class="bar">
      <div class="fill" style="width: 70%"></div>
    </div>
  </div>

  <div class="skill">
    <p>Programming (Java)</p>
    <div class="bar">
      <div class="fill" style="width: 75%"></div>
    </div>
  </div>

  <div class="skill">
    <p>Tools & Technologie (Git/npm/Post Man/Angular CLI/Docker)</p>
    <div class="bar">
      <div class="fill" style="width: 75%"></div>
    </div>
  </div>
</section>
<section class="education-section">
  <h2>Education</h2>
  <div class="education-content">
    <div class="univ-logo">
      <img src="/Gitam.png" alt="Gitam Logo" />
    </div>
    <div class="education-text">
      <p><strong>Gandhi Institute of Technology and Management (GITAM) University,<br>Bengaluru, Karnataka</strong></p>
      <p>Bachelor of Science in Computer Science (Currently Pursuing)</p>
      <p>September 2022 - May 2026</p>
    </div>
  </div>
</section>

