.footer {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  color: #ccc;
  background-color: transparent; 
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 4rem;
}

.footer .highlight {
  color: #6c2bd9; 
  font-weight: 500;
}
