<section @fadeInSlideUp class="hero-container">
  <div>
    <h1 class="hero-heading">
      <span #typedText class="typed-text"></span>
    </h1>

    <h2>Hi All👋, I'm Shyam</h2>
    <p class="hero-subtext">
      Pagasi — crafting digital dreams from stardust.<br />
      A passionate Full Stack Software Developer having experience in
      building web applications using Angular, Spring Boot, and MySQL. <br />
      Also familiar with REST APIs, GitHub Actions, CI/CD, and responsive UI design.
    </p>

    <div class="social-icons">
      <a href="https://github.com/" target="_blank">
        <img src="/github.png" alt="GitHub" />
      </a>
      <a href="https://linkedin.com/" target="_blank">
        <img src="/linkedin.png" alt="LinkedIn" />
      </a>
    </div>

    <div class="hero-buttons">
      <a href="#contact">
      <button class="btn-outline">Contact Me</button>
      </a>
      <a href="/Resume.pdf" target="_blank" rel="noopener noreferrer">
      <button class="btn-filled">Get Resume</button>
      </a>
    </div>
  </div>
</section>
